.AddTask {
  padding: 15px;
  cursor: pointer;
  margin-right: 15px;
}

.AddTask__icon {
  font-size: 24px;
  margin-right: 5px;
}

.AddTask__new {
  display: table;
  width: 100%;
}

.AddTask__label {
  line-height: 28px;
  font-weight: bold;
  display: table-cell;
  width: 1px;
  white-space: nowrap;
}

.AddTask__input {
  border-radius: 0;
  font-size: 16px;
  display: table-cell;
  width: 100%;
  margin-left: 5px;
}
