html,
body {
  box-sizing: border-box;
}

.App {
  border: 1px solid #eee;
  margin: 50px 100px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.App__left,
.App__right {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 50%;
}

.TaskDetails {
  padding: 15px;
}
